
.landingSection{
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    color: white; 
    text-align: center; 
    position: relative; 

    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,
    url(../../../../public/landingImage.jpg);

    // mobile screen size
    @media(max-width: 766px){
        height: 100vh;
    }

    .landingSectionContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        *{
            margin: 10px;
        }

        .landingButton{
            background-color: #543EE0;
            border: 1px solid #543EE0;
        }
    }

}

.aboutSection{
    padding-top: 50px;
}

.whyJoinSection{
    padding-top: 50px;
    padding-bottom: 50px;
    // background-color: blue;

    .whyJoinSectionContainer{
        border: 1px solid blue;
    }
}