.navbarContainer{
	border: 1px solid lightgrey;
	position: fixed;  /* Remove the div from the normal document flow */
	top: 0;           /* Position it at the top of the viewport */
	left: 50px;           /* Position it at the left of the viewport */
	width: 100%;       /* Make it span the entire width of the viewport */
	// z-index: 9999;
	
}

.mainContainer {
	margin-top: 80px;
	border: 1px solid lightgrey;
	padding: 100px;
	max-width: 1100px;

	// when the device is now small:
	@media(max-width: 767px){
		// width: 1000px;
		max-width: 2000px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.headerRow {

		// when the device is now small:
		@media(max-width: 767px){
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			// align-items: center;
		}

		.postButton {
			background-color: #543ee0;
			border: 1px solid #543ee0;
		}
	}

	.mainRow {
		margin-top: 30px;
		border: 1px solid lightgrey;

		.tabs {
		}
	}
}
