.navBar{
    background-color: white;
    
    /* Don't collapse navbar until breakpoint (e.g., 992px) */
    @media (min-width: 992px) {
        .navbar-expand {
        /* Remove the default collapse behavior */
        flex-wrap: nowrap;
        justify-content: space-between;
        }
    }
    
    /* Apply Bootstrap's default collapse behavior for smaller screens */
    @media (max-width: 991px) {
        .navbar-expand {
        /* Keep Bootstrap's default behavior */
        }
    }
}

.searchButtonInputSpan{
    background-color: white;
    color: black;
    border-right: 0px;
    height: 40px;

}
.searchBox{
    // border-left: 1px solid lightgrey;
    border: 1px solid lightgrey;
}
.image{
    border-radius: 50%;
}
.navLink{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}