.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imageRow{
        .image{
            border-radius: 50%;
        }
    }

    

    .userInfoRow{
        h4{

            span{
                font-weight: bold;
            }
        }
    }

    .editProfileRow{
        .editProfileButton{
            background-color: black;
        }
    }

}